@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');

button {
  position: absolute;
  top: 70%;
  left: 30%;
  text-align: center;
  color: black;
  border: 3px solid #9c2929;
  background: #fac1c1;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  font-size: 1.5rem;
}
.sim {
  position: absolute;
  top: 70%;
  right: 30%;
  text-align: center;
  color: black;
  border: 3px solid #1b8d2c;
  background: #d9ffdf;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  font-size: 1.5rem;
}

body {
  background: #fa8989;
  text-align: center;
}

.titulo {
  font-family: 'Passions Conflict';
  color: #e2e2e2;
  font-size: 8rem;
  margin: 0;
  padding: 20px;
  user-select: none;
}

.heart {
  font-size: 300px;
  color: #e00;
  animation: beat .30s infinite alternate;
  transform-origin: center;
}

@keyframes beat{
  to { transform: scale(1.4); }
}